<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <p>File Uploader</p>
        <p>LOG IN</p>
    </div>
    <form action="/login" method="post">
      <label for="username">Username:</label>
      <input type="text" name="username">

      <label for="password">Password:</label>
      <input type="password" name="password">

      <button type="submit">LOG IN</button>
    </form>
     <div><%- include('partials/errors') %></div>
    <p>Don't have an account? <a href="signup">Sign Up</a></p>
   
</body>
</html>