<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <p>File Uploader</p>
        <p>Create an Account</p>
    </div>
    <form action="/" method="post">
      <label for="username">Username:</label>
      <input type="text" name="username">

      <label for="password">Password:</label>
      <input type="password" name="password">

      <button type="submit">CREATE ACCOUNT</button>
    </form>
     <div><%- include('partials/errors') %></div>
    <p>Already have an account? <a href="login">Log In</a></p>
   
</body>
</html>